<main class="main">
  <div class="content">
    <h1>Xperience Tournament Videos</h1>
    <div *ngIf="!selectedTournament">
      <div class="list-container">
        <mat-action-list>
          <button mat-list-item *ngFor="let tournament of tournaments"
            (click)="goToTournament(tournament.tournamentName)">
            {{tournament.tournamentName}}
          </button>
        </mat-action-list>
      </div>
    </div>
    <div *ngIf="selectedTournament">
      <div>
        <button mat-raised-button color="primary" (click)="goToTournaments()">
          <mat-icon>arrow_back_ios</mat-icon>
          <span>Back</span>
        </button>
      </div>
      <div class="cards-container">
        <mat-card class="video-card" *ngFor="let game of selectedTournament.games">
          <mat-card-header>
            <mat-card-title>{{game.game}}</mat-card-title>
          </mat-card-header>
          <video [src]="game.url" controls></video>
        </mat-card>
      </div>
    </div>
  </div>
</main>
<router-outlet />